@charset "EUC-KR";
table {
	background-color: #1976D2;
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	border-spacing: 0px;
}
th{
	font-size: 20pt;
	height: 60px;
}
td{
	background: #90CAF9;
}
input {
	width: 200px;
	height: 40px;
	margin: 10px;
	border: #1976D2 solid;
}
button {
	border: none;
	font-size: 17pt;
	font-weight: 900;
	color: 1976D2;
	background-color: transparent;
}
#resultTd{
	height: 40px;
	text-shadow: 1px 1px 1px black;	
}
	