@charset "EUC-KR";

#loginTbl td{
	padding: 5px;
}
#loginTbl input{
	font-family:"m";
	border:#FFB300 solid 2px;
	width: 170px;	height: 30px;
	background-color: transparent;
	color:rgb(108, 115, 225);
	outline:none;
	font-size: 13pt;
	padding: 5px;
}
#loginTbl input::placeholder{
	color:#FFB300;
}
#loginTbl button{
	font-family:"m";
	font-size: 13pt;
	border:none;	background-color: transparent;
	color:#FFB300;	font-weight: 900;	font-family: "b";
}
#joinTbl{
	width: 50%; 		color:#FFB300;
}
#joinTbl th{
	font-family: "m";	font-size: 20pt;
	height: 80px;		
}
#joinTbl td{
	padding: 10px;
}
#joinTbl input{
	border:#FFB300 solid 2px;
	width: 99%;	height: 30px;
	background-color: transparent;
	color:white;	outline:none;
	font-family:"m";
	font-size: 13pt;
	padding: 5px;
}
#joinTbl select{
	border:#FFB300 solid 2px;
	width: 28%;		height: 40px;	padding: 5px;
	background-color: transparent;
	color:white;	outline:none;
}
#joinTbl option{
	color:black;
}
#loginTbl{
	width: 250px;
	font-family: "v";
	font-size: 15pt;
}
#loginedTbl td{
	padding: 5px; margin: auto;
}
#loginedTbl .imgTd{
	width: 75px;
}
#loginedTbl img{
	max-width: 60px;
}
#loginedTbl button{
	border: red solid 2px;
	background-color: transparent;
	font-family: "m";	font-size: 16pt;
	color:rgb(108, 115, 225);
	margin-left: 10px;	margin-right: 10px;
}
#infoTbl .imgTd{
	width: 75px;
}

#infoTbl img{
	max-width: 60px;
}
